<!DOCTYPE html>

{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block head_title %}Welcome to DjBird{% endblock %}</title>
        <link rel="stylesheet" href='{% static "css/bootstrap.css" %}' /> <!-- CSS -->
        <link rel="stylesheet" href='{% static "css/base.css" %}' /> <!-- CSS -->
        <!--<script src='{% static "js/jquery-3.1.0.min.js" %}'></script> &lt;!&ndash; JavaScript &ndash;&gt;-->
        <script src='{% static "js/jquery.min-1.10.2.js" %}'></script>
        <script src='{% static "js/bootstrap.min.js" %}'></script>
    </head>
    <body>
        <ul class="nav nav-pills">
            <li role="presentation" id="home">
                <a href="/myDjBird_app/">Home</a>
            </li>
            <li role="presentation" id="profile">
                <a href="show_profile.html">Profile</a>
            </li>
            <li role="presentation" id="about">
                <a href="#">About</a>
            </li>
        </ul>
        <h1>
            <!--{% block title %}Welcome to my block{% endblock %}-->
        </h1>
            {% block content %}
            {% endblock %}
        <script>
            $(document).ready(function(){
                $(".nav-pills a").click(function(){
                    $(this).tab('show');
                });
            });
        </script>
    </body>
</html>