<!DOCTYPE html>

{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block head_title %}Welcome to DjBird{% endblock %}</title>

        <link rel="stylesheet" href='{% static "css/bootstrap.css" %}' />
        <link rel="stylesheet" href='{% static "css/timeline.css" %}'>
        <link rel="stylesheet" href='{% static "css/base.css" %}' /> <!-- CSS -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <!--<script src='{% static "js/jquery-3.1.0.min.js" %}'></script> &lt;!&ndash; JavaScript &ndash;&gt;-->
        <script src='{% static "js/jquery.min-1.10.2.js" %}'></script>
        <script src='{% static "js/bootstrap.min.js" %}'></script>
    </head>
    <body>
        <ul class="nav nav-pills">
            <li role="presentation" id="home">
                <a href="/myDjBird_app/">Home</a>
            </li>
            <li role="presentation" id="profile">
                <a href="/myDjBird_app/show_profile">Profile</a>
            </li>
            <li role="presentation" id="users">
                <a href="/myDjBird_app/list_users">All Users</a>
            </li>
            <li role="presentation" id="about">
                <a href="/myDjBird_app/about">About DjBird</a>
            </li>
            {% if user.is_authenticated %}
                <li role="presentation" id="logout">
                    <a href="/myDjBird_app/accounts/logout">Logout</a>
                </li>
            {% else %}
                <li role="presentation" id="login">
                    <a href="/myDjBird_app/accounts/login">Login</a>
                </li>
            {% endif %}
        </ul>
        <h1>
            <!--{% block title %}Welcome to my block{% endblock %}-->
        </h1>
            {% block content %}
            {% endblock %}
    </body>
</html>