{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}DjBird - Home page{% endblock %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-md-12">
    {% if user %}
    <!-- If user logged in -->
        {% if timeline %}
            {% for post in timeline %}
                <ul class="timeline">
                    <li>
                        <div class="timeline-panel">
                            <div class="col-md-1">
                                {% static "" as baseUrl %}
                                {% if post.user.users.profile_picture%}
                                    <img class="dj-avatar img-circle"
                                         src="{{ baseUrl }}profile_pictures/{{post.user.users.profile_picture}}"
                                         alt="{{post.user}}" />
                                {% else %}
                                    <img class="dj-avatar img-circle" src="{{ baseUrl }}profile_pictures/default-pic.jpg" alt="Default Image" />
                                {% endif %}
                            </div>
                            <div class="col-md-11">
                                <div class="timeline-heading">
                                    <span style="font-size: large">
                                        <a href="/myDjBird_app/view_user_profile/{{post.user_id}}">{{post.user}}</a> says :
                                    </span>
                                </div>
                                <div class="timeline-body">
                                    <p>{{post.content}}</p>
                                </div>
                                    <div class="timeline-footer">
                                    <p class="text-center"><a href="view_post/{{post.id}}" title="click to show post">{{post.date}}</a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <br/>
            <p>There are no tweets and no followers.. Start Following some users </p>
            <br/>
            <p class="text-center">
                Recommend based on activity
            </p>
                <ul class="timeline">
                {% if recommended == "no users" %}
                    <p class="text-center">There are no users / tweets in the system yet </p>
                {% else %}
                    <li>
                    <div class="timeline-panel">
                        <div class="col-md-1">
                            {% static "" as baseUrl %}
                            {% if recommended.user.users.profile_picture%}
                                <img class="dj-avatar img-circle"
                                     src="{{ baseUrl }}profile_pictures/{{recommended.user.users.profile_picture}}"
                                     alt="{{recommended.user}}" />
                            {% else %}
                                <img class="dj-avatar img-circle" src="{{ baseUrl }}profile_pictures/default-pic.jpg" alt="Default Image" />
                            {% endif %}
                        </div>
                        <div class="col-md-11">
                            <div class="timeline-heading">
                                <span style="font-size: large">
                                    <a href="/myDjBird_app/view_user_profile/{{recommended.user_id}}">{{recommended.user}}</a> says :
                                </span>
                            </div>
                            <div class="timeline-body">
                                <p>{{recommended.content}}</p>
                            </div>
                                <div class="timeline-footer">
                                <p class="text-center"><a href="view_post/{{recommended.id}}" title="click to show post">{{recommended.date}}</a></p>
                            </div>
                        </div>
                    </div>
                    </li>
                {% endif %}
                </ul>
        {% endif %}
    {% else %}
        <!-- If user not logged in -->
        <div class="welcome page">
            <h1 class="text-center"> Welcome to DjBird .. </h1>
            <p class="text-center">
                You can <a href="accounts/login" >login</a> or <a href="accounts/register">register</a> new account.
            </p>
            <p class="text-center">
                Connect with your friends — Following each other.
            </p>
            <p class="text-center">
                See their profiles and their updates.
            </p>
        </div>
    {% endif %}

</div>
</div>
</div>
<script type="text/javascript">
    window.onload=function () {
        $('#home').addClass('active');
    };
</script>
{% endblock %}
