{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}DjBird - Show Users{% endblock %}
{% block title %} DjBird Users ..{% endblock%}

{% block content %}
<div class="container">
    <div class="row">
{% if users %}
    <!--{{i_follow}}-->
    {% for user in users %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                {% static "" as baseUrl %}
                {% if user.profile_picture%}
                    <img class="dj-avatar img-circle" src="{{ baseUrl }}profile_pictures/{{user.profile_picture}}" alt="{{user.user}}" />
                {% else %}
                    <img class="dj-avatar img-circle" src="{{ baseUrl }}profile_pictures/default-pic.jpg" alt="Default Image" />
                {% endif %}
                <div class="caption">
                    {% if user.user != request.user %}
                        <span style="float: right">
                            <!-- check if user already following or not ! -->
                            {% if user.id in i_follow %}
                                <a href="unfollow/{{user.id}}" title="UnFollow {{user.user}}">
                                    <img src="{{ baseUrl }}images/unfollowbutton.png" width="100" alt="UnFollow" />
                                </a>
                            {% else %}
                                <a href="follow/{{user.id}}" title="Follow {{user.user}}">
                                    <img src="{{ baseUrl }}images/followbutton.png" width="100" alt="Follow" />
                                </a>
                            {% endif %}

                        </span>
                    {% endif %}
                    <h3 class="text-left"><a href="view_user_profile/{{ user.id}}">{{ user.user }}</a></h3>
                    <p>{{ user.email }}</p>
                </div>
            </div>
        </div>

            <!--User ID : {{ user.id }}-->
            <!--<ul>-->
                <!--{% if user.profile_picture %}-->
                    <!--{% static "" as baseUrl %}-->
                    <!--<img src="{{ baseUrl }}profile_pictures/{{user.profile_picture}}" width="100" alt="{{user.username}}" />-->
                <!--{% else %}-->
                    <!--<p> User didn't add profile picture. </p>-->
                <!--{% endif %}-->
                <!--<li><a href="{{ user.id}}">{{ user.username }}</a></li>-->
                <!--<li>{{ user.email }}</li>-->
            <!--</ul>-->
        {% endfor %}
{% else %}
        <p>There are no users.</p>
{% endif %}
    </div>
</div>
<script type="text/javascript">
    window.onload=function () {
        $('#users').addClass('active');
    };
</script>
{% endblock %}