{% extends 'base.html' %}
{% block title %}Welcome to DjBird - Post Tweet{% endblock %}

{% block content %}

<section>
    <h1>Post Tweet</h1>
    <section>
        <form action="" method="post">
            {% csrf_token %}
            <!--{{ form.as_p }}-->
            <textarea class="form-control" name="content" rows="2" maxlength="250" placeholder="What's happening?"></textarea>
            <!--Content: <input type="text"  required>-->
            <input type="submit" value="Tweet" class="btn btn-primary pull-right" />
        </form>
    </section>
</section>

{% endblock %}