{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}DjBird - Show my Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- code start -->
        <div class="twPc col-md-12">
            <a class="twPc-bg twPc-block"></a>
            <div>
                <div class="twPc-button">
                    <!-- Twitter Button | you can get from: https://about.twitter.com/tr/resources/buttons#follow -->
                    <a href="https://twitter.com/mertskaplan" class="twitter-follow-button" data-show-count="false"
                    data-size="large" data-show-screen-name="false" data-dnt="true">
                        Follow @{{user.username}}
                    </a>
                    <script>!function(d,s,id){
                    var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                    if(!d.getElementById(id)){
                    js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js,fjs);}
                    }(document, 'script', 'twitter-wjs');
                    </script>
                    <!-- Twitter Button -->
                </div>
                <a title="{{user.username}}" href="https://twitter.com/mertskaplan" class="twPc-avatarLink">
                    {% if user_details.profile_picture %}
                    {% static "" as baseUrl %}
                    <img alt="{{user.username}}" src="{{ baseUrl }}profile_pictures/{{user_details.profile_picture}}" class="twPc-avatarImg">
                    {% else %}
                    <img alt="{{user.username}}" src="{{ baseUrl }}profile_pictures/default-pic.jpg" class="twPc-avatarImg">
                    {% endif %}
                </a>

                <div class="twPc-divUser">
                    <div class="twPc-divName">
                        <a href="https://twitter.com/mertskaplan">{{user.username}}</a>
                    </div>
                    <span>
                        <a href="https://twitter.com/mertskaplan">@<span>{{user.username}}</span></a>
                    </span>
                </div>

                <div class="twPc-divStats">
                    <ul class="twPc-Arrange">
                        <li class="twPc-ArrangeSizeFit">
                            <a href="#" title="{{timeline_counts}} Tweet">
                                <span class="twPc-StatLabel twPc-block">Tweets</span>
                                <span class="twPc-StatValue">{{timeline_counts}}</span>
                            </a>
                        </li>
                        <li class="twPc-ArrangeSizeFit">
                            <a href="#" title="885 Following">
                                <span class="twPc-StatLabel twPc-block">Following</span>
                                <span class="twPc-StatValue">885</span>
                            </a>
                        </li>
                        <li class="twPc-ArrangeSizeFit">
                            <a href="#" title="1.810 Followers">
                                <span class="twPc-StatLabel twPc-block">Followers</span>
                                <span class="twPc-StatValue">1.810</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--<p>Welcome {{ user_details.user }}, email: {{user_details.email}} , user: {{user}}</p>-->
        <!--<p>This is me .. {{user.username}}{{user.id}}{{user.email}}</p>-->
        <div class="col-md-12">
            <form action="" method="post">
                {% csrf_token %}
                <textarea class="form-control" name="content" rows="2" maxlength="250" placeholder="What's happening?"></textarea>
                <!--{{ form.as_p }}-->
                <!--&lt;!&ndash;{{ form.as_ul }}&ndash;&gt;-->
                <!--&lt;!&ndash;<textarea class="form-control" rows="2" maxlength="25" placeholder="What's happening?"></textarea>&ndash;&gt;-->
                <input type="submit" value="Tweet" class="btn btn-primary pull-right" />
            </form>
        </div>
        <div class="col-md-12">
            {% if user_timeline %}
                <h2>Timeline for {{user.username}}</h2>
                {% for post in user_timeline %}
                    <ul class="timeline">
                        <li>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{post.user}} says :</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>
                                        {{post.content}}
                                    </p>
                                </div>
                                <div class="timeline-footer">
                                    <a href="#" title="reply">
                                        <i class="fa fa-reply" aria-hidden="true"></i>
                                    </a>
                                    &nbsp;&nbsp;
                                    <a href="#" title="like">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    </a>
                                    &nbsp;&nbsp;
                                    <a href="#" title="dislike">
                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                    </a>
                                    <span style="float: right">{{post.date}}</span>
                                </div>
                            </div>
                        </li>
                        <!--<li class="clearfix no-float"></li>-->
                    </ul>
                    <!--<div class="stream">-->
                        <!--<ul>-->
                            <!--<li>-->
                                <!--<div></div>-->
                                <!--<div>{{post.date}}</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                {% endfor %}
            {% else %}
                <p>There are no tweets .. Add yours </p>
            {% endif %}
        </div>

    </div>
</div>
<script type="text/javascript">
    window.onload=function () {
        $('#profile').addClass('active');
    };
</script>
{% endblock %}
