{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}DjBird - Show Tweet{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="timeline">
                <li><div class="timeline-panel">
                    <div class="col-md-1">
                        {% static "" as baseUrl %}
                        {% if user_details.profile_picture%}
                            <img class="dj-avatar img-circle" src="{{ baseUrl }}profile_pictures/{{user_details.profile_picture}}" alt="{{post.user}}" />
                        {% else %}
                            <img class="dj-avatar img-circle" src="{{ baseUrl }}profile_pictures/default-pic.jpg" alt="Default Image" />
                        {% endif %}
                    </div>
                    <div class="col-md-11">
                        <div class="timeline-heading">
                            <span style="font-size: large">
                                <a href="/myDjBird_app/view_user_profile/{{post.user_id}}">{{post.user}}</a> says :
                            </span>
                        </div>
                        <div class="timeline-body">
                            <p> {{post.content}} </p>
                        </div>
                        <div class="timeline-footer">
                            <a href="/myDjBird_app/post_reply/{{post.id}}" title="Add Reply">
                                <i class="fa fa-reply" aria-hidden="true"></i>
                            </a>
                            &nbsp;&nbsp;
                            <a href="/myDjBird_app/post_like/{{post.id}}" title="Likes count {{likes_count}}">
                                <i class="fa fa-thumbs-up" aria-hidden="true">{{likes_count}}</i>
                            </a>
                            &nbsp;&nbsp;
                            <a href="/myDjBird_app/post_dislike/{{post.id}}" title="Dislikes count {{dislikes_count}}">
                                <i class="fa fa-thumbs-down" aria-hidden="true">{{dislikes_count}}</i>
                            </a>
                            <span style="float: right">{{post.date}}</span>
                        </div>
                    </div>
                </div></li>
            </ul>
            <br/>
        </div>
    </div>
    <!-- Check if tweet have replies -->
    {% if replies %}
        <div class="row">
            <div class="col-md-12">
                <h2>There are {{reply_count}} replies on status # {{post.id}}</h2>
                {% for reply in replies %}
                    <ul class="timeline">
                        <li><div class="timeline-panel">
                            <!--<div class="col-md-1">-->
                                <!--{% static "" as baseUrl %}-->
                                <!--{% if user_details.profile_picture%}-->
                                    <!--<img class="dj-avatar img-circle" src="{{ baseUrl }}profile_pictures/{{user_reply_details.profile_picture}}" alt="{{reply.user}}" />-->
                                <!--{% else %}-->
                                    <!--<img class="dj-avatar img-circle" src="{{ baseUrl }}profile_pictures/default-pic.jpg" alt="Default Image" />-->
                                <!--{% endif %}-->
                            <!--</div>-->
                            <div class="col-md-12">
                                <div class="timeline-heading">
                                    <span style="font-size: large">
                                        <a href="/myDjBird_app/view_user_profile/{{reply.user_id}}">{{reply.user}}</a> says :
                                    </span>
                                </div>
                                <div class="timeline-body">
                                    <p> {{reply.content}} </p>
                                </div>
                                <div class="timeline-footer">
                                    <p class="text-center">{{reply.date}}</p>
                                </div>
                            </div>
                        </div></li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}