{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}DjBird - View User Profile{% endblock %}
{% block content %}
<!--{{user.username}}-{{user.email}}-->
<div class="container">
    <div class="row">
        <div class="twPc col-md-12">
            <a class="twPc-bg twPc-block"></a>
            <div>
                <a title="{{users.username}}" href="#" class="twPc-avatarLink">
                    {% static "" as baseUrl %}
                    {% if user_details.profile_picture %}
                        <img alt="{{users.username}}" src="{{ baseUrl }}profile_pictures/{{user_details.profile_picture}}" class="twPc-avatarImg">
                    {% else %}
                        <img alt="{{users.username}}" src="{{ baseUrl }}profile_pictures/default-pic.jpg" class="twPc-avatarImg">
                    {% endif %}
                </a>

                <div class="twPc-divUser">
                    <div class="twPc-divName">
                        <a href="#">{{users.username}}</a>
                    </div>
                    <span>
                        <a href="#">@<span>{{users.username}}</span></a>
                    </span>

                </div>

                <div class="twPc-divStats">
                    <ul class="twPc-Arrange">
                        <li class="twPc-ArrangeSizeFit">
                            <a href="#" title="{{timeline_counts}} Tweet">
                                <span class="twPc-StatLabel twPc-block">Tweets</span>
                                <span class="twPc-StatValue">{{timeline_counts}}</span>
                            </a>
                        </li>
                        <li class="twPc-ArrangeSizeFit">
                            <a href="#" title="{{i_follow}} Following">
                                <span class="twPc-StatLabel twPc-block">Following</span>
                                <span class="twPc-StatValue">{{i_follow}}</span>
                            </a>
                        </li>
                        <li class="twPc-ArrangeSizeFit">
                            <a href="#" title="{{follow_me}} Followers">
                                <span class="twPc-StatLabel twPc-block">Followers</span>
                                <span class="twPc-StatValue">{{follow_me}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h2>Timeline for: {{users.username}}</h2>
            {% if user_timeline %}
                {% for post in user_timeline %}
                    <ul class="timeline">
                        <li>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{post.user}} says :</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>
                                        {{post.content}}
                                    </p>
                                </div>
                                <div class="timeline-footer">
                                    <!--<a href="#" title="reply">-->
                                        <!--<i class="fa fa-reply" aria-hidden="true"></i>-->
                                    <!--</a>-->
                                    <!--&nbsp;&nbsp;-->
                                    <!--<a href="#" title="like">-->
                                        <!--<i class="fa fa-thumbs-up" aria-hidden="true"></i>-->
                                    <!--</a>-->
                                    <!--&nbsp;&nbsp;-->
                                    <!--<a href="#" title="dislike">-->
                                        <!--<i class="fa fa-thumbs-down" aria-hidden="true"></i>-->
                                    <!--</a>-->
                                    <p class="text-center"><a href="/myDjBird_app/view_post/{{post.id}}" title="click to show post">{{post.date}}</a></p>
                                    <!--<span style="float: right">{{post.date}}</span>-->
                                </div>
                            </div>
                        </li>
                    </ul>
                {% endfor %}
            {% else %}
                <p>This user did not post any tweets yet !</p>
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript">
    window.onload=function () {
        $('#users').addClass('active');
    };
</script>
{% endblock %}